
<h1>Register</h1>
<form action="" method="" class="position-absolute top-50 start-50 translate-middle">
    <div class="input-group input-group-sm mb-3">
        
        <input type="text" placeholder="First Name" name="FirstName" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">

        <input type="text" placeholder="Last Name" name="LastName" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>

    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Password</span>
        <input type="password" name="LastName" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <button type="button" class="btn btn-light">Register</button>
</form>